vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Aug 2019 15:08:19 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|ZAINISH\\Zainish
vti_modifiedby:SR|ZAINISH\\Zainish
vti_timecreated:TR|31 Aug 2019 15:08:19 -0000
vti_cacheddtm:TX|31 Aug 2019 15:08:19 -0000
vti_filesize:IR|29642
vti_cachedlinkinfo:VX|S|../fonts/revicons/revicons.eot S|../fonts/revicons/revicons.eot S|../fonts/revicons/revicons.woff S|../fonts/revicons/revicons.ttf S|../fonts/revicons/revicons.svg S|openhand.cur S|closedhand.cur S|../assets/gridtile.png S|../assets/gridtile_white.png S|../assets/gridtile_3x3.png S|../assets/gridtile_3x3_white.png S|../assets/coloredbg.png S|../assets/coloredbg.png S|../assets/loader.gif
vti_cachedsvcrellinks:VX|NSUS|revolution/fonts/revicons/revicons.eot NSUS|revolution/fonts/revicons/revicons.eot NSUS|revolution/fonts/revicons/revicons.woff NSUS|revolution/fonts/revicons/revicons.ttf NSUS|revolution/fonts/revicons/revicons.svg NSUS|revolution/css/openhand.cur NSUS|revolution/css/closedhand.cur NSUS|revolution/assets/gridtile.png NSUS|revolution/assets/gridtile_white.png NSUS|revolution/assets/gridtile_3x3.png NSUS|revolution/assets/gridtile_3x3_white.png NSUS|revolution/assets/coloredbg.png NSUS|revolution/assets/coloredbg.png NSUS|revolution/assets/loader.gif
vti_backlinkinfo:VX|index2.html index3.html index.html index4.html index5.html
